/metastore_db/
/derby.log
/poetry.lock
/spark-warehouse/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sparkTests.iml
/.idea/vcs.xml
